<section class="cart " >
<div class="container">
<table class="table table-striped">
  <thead>
    <tr ng-if="viewport()">
      <th>Номер</th>
      <th>Наименование</th>
      <th>Цена (грн)</th>
      <th>Количество (шт)</th>
      <th>Сумма</th>
      <th>Удалить</th>
    </tr>
    <tr ng-if="!viewport()">
      <th>№</th>
      <th>Наименование</th>
      <th>Цена</th>
      <th>шт</th>
      <th>Сумма</th>
      <th>Удал</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='item in getOrders'>
      <td>{{$index +1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.price}}</td>
      <td>{{item.num}}</td>
      <td>{{item.price * item.num}}</td>
      <td><span class="cart-remove-product ion-android-close" ng-click="removeOrder($index)"></span></td>
    </tr>
  </tbody>
</table>



    <div class="row">
      <div class="col-lg-offset-10 col-lg-2 col-sm-12 col-xs-12 cart-total-cost">
        <strong>Итого: {{ totalCost() }} грн</strong>
      </div>
    </div>
    <a ui-sref="{{hash}}" href="">
      <span class="pull-right btn btn-cart-order">Оформить заказ</span>
    </a>
  </div>
</section>
