
<sections class="product">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12" >
        <ul class="product_list">
        <!-- begin product item -->
          <li class="product_price_item" data-ng-class="{{product.hot}} && {{product.count}} > 0 ? 'hot_product' : ' ' "  data-ng-cloak data-ng-repeat="product in products">
            <span class="flag_yellow" data-ng-show="prodCount({{product.count}})">Заканчивается</span>
            <span class="flag_red" data-ng-show="prodEmpty({{product.count}})">Нет в наличии</span>
            <div class="product_image">
              <a href="#/product-details/{{product.id}}">
                <img data-ng-src="{{product.picture}}" alt="{{product.species + ' ' + product.name}}">
            </div>
            <div class="product_title" >{{ product.species + ' ' + product.name }}</a></div>
            <div class="product_price pull-left">
              <span class="cost">{{ product.price }}</span> <span class="currency">грн</span>
            </div>
            <div class="product_like" ng-click="like()" style="display:none">
                <span class="btn-submit ion-ios-heart-outline"></span>
                <span class="likes">{{product.like}}</span>
            </div>
            <div class="clearfix"></div>
            <div class="product_buy">
                <span class="product_buy_btn-container">
                  <span class="product_buy_sprite btn btn-success">
                  <input type="number" class="product_count" min="1" max="50" data-ng-model="productNum" name="prod_count">
                    <button class="btn btn-success" data-ng-disabled="product.count < 1" data-ng-click="addOrder( product.id, product.species + ' ' + product.name, product.price, productNum )">
                    <i class="ion-ios-cart-outline"></i>Купить
                    </button>
                  </span>
                </span>
            </div>
            <div class="hot_price">
              <span data-ng-if="product.product_hot && product.product_count > 0">горячее предложение</span>
            </div>
            <div class="product_details">
                <a href="/product-details/{{product.id}}">Подробнее</a>
            </div>
          </li>
          <!-- end product item -->
        </ul>
      </div>
    </div>
  </div>
</sections>
