<!DOCTYPE html>
<html lang="en" ng-app="lemicor">
<head>
  <meta charset="UTF-8">
  <title>Lemicor</title>
    <meta name="description">
  <meta content="author" name="">
  <link rel="icon" href="favicon.png" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="" >
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script> -->
  <script src="js/main.js"></script>
</head>
<body>
  <div class="header">
    <div class="content">
      <div class="row">
        <div class="col-lg-8">
          <img class="logo-header" src="/img/logo.png" alt="Lemicor.Corp">
        </div>
        <div class="col-lg-3">
        <!-- BEGIN MENU -->
          <div class="nav-line pull-right">
            <ul class="nav-menu">
              <li class="nav-tab"><a class="nav-home ion-ios-home-outline" ></a></li>
              <li class="nav-tab"><a class="nav-shop ion-bag" ></a></li>
              <li class="nav-tab"><a class="nav-shipment ion-paper-airplane" ></a></li>
              <li class="nav-tab"><a class="nav-contact ion-ios-email-outline" ></a></li>
              <li class="nav-tab"><a class="nav-cart ion-ios-cart-outline" ></a></li>
            </ul>
          </div>
          <!-- END MENU -->
        </div>
        <div class="col-lg-1">
          <div class="login ion-ios-contact"></div>
        </div>
      </div>
    </div>
  </div>

<!-- BEGIN THANK YOU BLOCK -->
<!-- <section class="thanks">
  <div class="row">
    <div class="col-lg-2">
        <img class="footer-logo" src="img/logo.png">
        <span class="reserved pull-right">All rights reserved&copy;</span>
    </div>
    <div class="col-lg-8"></div>
    <div class="col-lg-2 pull-right">
    <ul class="social">
      <li class="social_network">
        <a class="ion-social-facebook-outline" ></a>
      </li>
      <li class="social_network">
        <a class="ion-social-twitter-outline" ></a>
      </li>
      <li class="social_network">
        <a class="ion-pin" ></a>
      </li>

    </ul>
    </div>
  </div>
</section> -->
<!-- END THANK YOU BLOCK -->
</body>
</html>