<section class="home height">
    <div class="dot height"></div>
    <div class="video">
      <video  autoplay loop="loop" poster="/img/main-picture.jpg">
        <source src="Plant Time Lapse.mp4" type="" >
      </video>
    </div>
    <div class="level-up">
      <div class="container">
        <div class="row">
          <div class="col-lg12">
            <div class="main-logo">
              <img src="img/logo.png">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg12">
            <span class="slogan">
              Яркие моменты жизни
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg12">
              <div class="nav-arrow ion-ios-arrow-down">
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="advwinter" class="advert height">
    <div class="content">
      <div class="row">
        <div class="col-lg-8">
          <span class="heading-advert">Согреет <br> холодной <br> зимой</span>
        </div>
        <div class="col-lg-4 green height">
          <figure class="big-circle">
            <p>
              <img src="img/picture/cup.png">
            </p>
          </figure>
        </div>
      </div>
    </div>
  </section>
  <section class="shop grey">
    <div class="row">
      <div class="col-lg-12">
        <span class='head-section'>
          Купить товар
        </span>
      </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-lg-offset-1 col-lg-10">
            <ul class="product-list">
              <li><!-- Карточка товара -->
                <figure class="product">
                  <p class="product-name">Лимон Мейер</p>
                  <p class="product-picture"><img src="img/products/lemontree.png" alt=""></p>
                  <p class="product-price"> 600 <span>грн</span></p>
                  <button class="btn btn-success" ng-disabled="product.product_count < 1" ng-click="addProd(product.product_id)">
                    <input type="number" class="product_count" min="1" max="50" value="1" name="prod_count">
                    <i class="ion-ios-cart-outline"></i>Купить
                    </button>
                </figure>
                <!-- Карточка товара -->
                </li>
              <li>
              <!-- Карточка товара -->
                <figure class="product">
                  <p class="product-name">Гранат</p>
                  <p class="product-picture"><img src="img/products/pomegranate.png" alt=""></p>
                  <p class="product-price"> 250 <span>грн</span></p>
                    <button class="btn btn-success" ng-disabled="product.product_count < 1" ng-click="addProd(product.product_id)">
                    <input type="number" class="product_count" min="1" max="50" value="1" name="prod_count">
                    <i class="ion-ios-cart-outline"></i>Купить
                    </button>
                </figure>
                <!-- Карточка товара -->
                </li>
              <li>
              <!-- Карточка товара -->
                <figure class="product">
                  <p class="product-name">Розмарин</p>
                  <p class="product-picture"><img src="img/products/rosemary.png" alt=""></p>
                  <p class="product-price"> 150 <span>грн</span></p>
                  <button class="btn btn-success" ng-disabled="product.product_count < 1" ng-click="addProd(product.product_id)">
                    <input type="number" class="product_count" min="1" max="50" value="1" name="prod_count">
                    <i class="ion-ios-cart-outline"></i>Купить
                    </button>                </figure>
                <!-- Карточка товара -->
                </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-offset-10 col-lg-2">
            <span class="to-shop pull-right"> <a href="#/catalog">к каталогу</a>  <span class="ion-android-arrow-forward"></span></span>
            <span class="to-shop-underline"></span>
          </div>
        </div>
      </div>
  </section>
<!-- BEGIN ADVERTISE BLOCK -->
  <section class="advert height">
    <div class="content">
      <div class="row">
        <div class="col-lg-8">
          <span class="heading-advert">Охладит <br> жарким <br> летом</span>
        </div>
        <div class="col-lg-4 green height">
          <figure class="big-circle">
            <p>
              <img src="img/picture/738.png">
            </p>
          </figure>
        </div>
      </div>
    </div>
  </section>
<!-- END ADVERTISE BLOCK -->

  <!-- BEGIN ADVERTISE BLOCK -->
  <section class="advert height">
    <div class="content">
      <div class="row">
        <div class="col-lg-8">
          <span class="heading-advert">Самый <br> лучший <br> подарок</span>
        </div>
        <div class="col-lg-4 green height">
          <figure class="big-circle">
          <p>
            <img src="img/picture/lemon-in-pot.png">
          </p>
          </figure>
        </div>
      </div>
    </div>
  </section>
<!-- END ADVERTISE BLOCK -->