<section class="sign">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-4 col-lg-4">
      <h2 >Limonarium portal</h2>
        <form class="sign-form" name="login-form">
        <label>
          Login:
          <input type="text"  class="form-control" required="required" placeholder="login">
        </label>
          <label>
            Password:
            <input type="password"  class="form-control" required="required" placeholder="password">
          </label>
          <input type="" class="btn btn-sign-in" name="" value="Sign in">
        </form>
      </div>
    </div>
  </div>
</section>