<section class="order">
<form>
  <label for="name">
    Ваше имя:
    <input type="text" name="name" required="" placeholder="Ваше имя">
  </label>
  <label for="email">
    Email:
    <input type="email" name="email" required="" placeholder="Ваш Email">
  </label>
  <label for="phone">
    Телефон:
    <input type="tel" name="phone" required="" placeholder="Ваш телефон">
  </label>
  Способ доставки:
  <input type="radio" name="shipment" value="1" checked=""> Самовывоз (бесплатно)
  <input type="radio" name="shipment" value="1"> Курьером
  <input type="radio" name="shipment" value="1"> Новая почта
  <br>
  Адрес доставки:
  <textarea cols="3" required="" placeholder="Адрес доставки"></textarea>
  <br>
  Сообщение:
  <textarea cols="3" required="" placeholder="Дополнительная информация"></textarea>
  <button>Отправить заказ</button>
</form>
</section>