<!-- BEGIN CONDITIONS AND TERMS BLOCK -->
  <section class="shipment grey height">
    <div class="row">
      <div class="col-lg-12">
        <span class='head-section'>
          Доставка товара
        </span>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p><strong> Оплата: </strong></p>
          У нас Вы можете оплатить: <br>
         <em>
            - наличными в случае доставки курьером
            - безналичный расчет по реквизитам*
        </em>
          <br><br>
          <p><strong> Доставка по городам Днепр и Запорожье </strong></p>
          <em>
            - курьер по адресу - стоимость расчитывается в зависимости от расстояния
            - доставка на сумму более 800 грн осуществляется бесплатно
            - упаковка товара и доставка до Новой Почты на сумму менее 1000 грн - стоимость 25 грн
          </em>
          <br><br>
          <p><strong> Доставка в другие регионы страны </strong></p>
          <em>
            Доставка Новой Почтой по предоплате по реквизитам. Стоимость пересылки зависит
            от тарифов Новой Почты, но в среднем составляет 50-70 грн.
            Также компания не несет ответственности за погрешности работы Новой Почты и делаем
            все возможное чтобы товар пришел к Вам в наилучшем виде.
            Также необходимо учитывать сезонность заказов т.к. в зимний период доставка Новой Почтой
            не осуществляется в связи с температурным режимом.
          </em>
        </div>
      </div>
    </div>
  </section>
<!-- END CONDITIONS AND TERMS BLOCK -->